
/*
 ::::::::::::::::::::::::::
  ANIMATION AREA CSS
 ::::::::::::::::::::::::::
 */

  @keyframes round-circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1000deg);
    }
  }

  @keyframes round-circle2 {
    0% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(20deg);
    }
  }



  @keyframes animate1 {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-20px);
    }
  }

  @keyframes animate2 {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(20px);
    }
  }

  @keyframes animate3 {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(15px);
    }
  }

  @keyframes animate4 {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-25px);
    }
  }

  @keyframes animate5 {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
  }

  @keyframes animate6 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
  }


.round-circle {
    position: relative;
    animation-name: round-circle;
    animation-duration: 72s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.animate1 {
    position: relative;
    animation-name: animate1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.animate2 {
    position: relative;
    animation-name: animate2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.animate3 {
    position: relative;
    animation-name: animate3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.animate4 {
    position: relative;
    animation-name: animate4;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.animate5 {
    position: relative;
    animation-name: animate5;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.animate6 {
    position: relative;
    animation-name: animate6;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.round-circle2 {
    position: relative;
    animation-name: round-circle2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}


.image-anime{
	overflow: hidden;
}

.image-anime:after{
	content: "";
	position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255,255,255,.3);
    transform: translate(-50%,-50%) rotate(-45deg);
    z-index: 1;
}

.image-anime:hover:after{
    height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
}

/*
::::::::::::::::::::::::::
ANIMATION AREA CSS
::::::::::::::::::::::::::
*/