@use '../../utils/' as * ;

/*
::::::::::::::::::::::::::
 HEADER AREA CSS
::::::::::::::::::::::::::
*/

.header-area.header-area2 {
    .main-menu-ex.main-menu-ex1 {
     ul {
       li {
         a.active {
           color: #0E38B1;
         }
       }
     }
    }
  }

  .header-area.header-area3 {
    .main-menu-ex.main-menu-ex1 {
     ul {
       li {
         a.active {
           color: #2A8F46;
         }
       }
     }
    }
  }

  .header-area.header-area4 {
    .main-menu-ex.main-menu-ex1 {
     ul {
       li {
         a.active {
           color: #C5F66E;
         }
       }
     }
    }
  }

  .header-area.header-area5 {
    .main-menu-ex.main-menu-ex1 {
     ul {
       li {
         a.active {
           color: #F6D06D;
         }
       }
     }
    }
  }


/*
::::::::::::::::::::::::::
 HEADER AREA CSS
::::::::::::::::::::::::::
*/