/*
============================
Name: Vexon - Modern Blog Template 
Version: 2.0.0
Description: Vexon - Modern Blog Template 
Author: AliThemes
Author URI: https://themeforest.net/user/aliThemes
Location:
============================
*/

/*

CSS LIST

=<::::::::::::::::::::::::::=>
  HEADER AREA CSS
=<::::::::::::::::::::::::::=>
  HERO AREA CSS
=<::::::::::::::::::::::::::=>
  PRELOADER
=<::::::::::::::::::::::::::=>
  OTHERS AREA CSS
=<::::::::::::::::::::::::::=>
  CONMMON AREA CSS
=<::::::::::::::::::::::::::=>
  SIDEBAR AREA CSS
=<::::::::::::::::::::::::::=>
  BLOG AREA CSS
=<::::::::::::::::::::::::::=>
  CTA AREA CSS
=<::::::::::::::::::::::::::=>
 ANIMATION AREA CSS
=<::::::::::::::::::::::::::=>
  BUTTONS AREA CSS
=<::::::::::::::::::::::::::=>
  TYPOGRAPHY AREA CSS
=<::::::::::::::::::::::::::=>
  FOOTER AREA CSS
=<::::::::::::::::::::::::::=>
*/

@forward "theme";
@forward "components";
@forward "layout";
